<!-- views/profile.ejs -->
<!doctype html>
<html>
  <head>
  	<title>IMS</title>
    <% include partials/css %> <!-- load css -->
  	<style>
  		body 		{ padding-top:80px; word-wrap:break-word; }
  	</style>
  </head>
  <body>

  	<% include partials/nav %>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
              <form role="form" name="profile" action="javascript:void(0)">
                <div class="form-group">
                  <label for="id">User ID</label>
                  <input type="text" class="form-control" id="id" value="<%= user.id %>" disabled="true">
                </div>

                <div class="form-group">
                  <label for="admin">Administrator</label>
                  <input type="text" class="form-control" id="admin" value="<% if (user.Admin == 1) { %> True <% } else{ %> False <% } %>" disabled="true">
                </div>

                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" value="<%= user.name %>">
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" value="<%= user.email %>">
                </div>

                <button type="submit" id="profile" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Password</h3>
            </div>
            <div class="panel-body">
              <form role="form" name="credentials" action="javascript:void(0)">
                <div class="form-group">
                  <label for="currentPassword">Current password</label>
                  <input type="password" class="form-control" id="currentPassword" placeholder="Current Password">
                </div>

                <div class="form-group">
                  <label for="newPassword">New password</label>
                  <input type="password" class="form-control" id="newPassword" placeholder="New Password">
                </div>

                <div class="form-group">
                  <label for="newPasswordRepeat">Re-enter new password</label>
                  <input type="password" class="form-control" id="newPasswordRepeat" placeholder="New Password Repeat">
                </div>

                <button type="submit" id="credentials" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>


    <% include partials/js %> <!-- load js -->
    <script src="./profile.js"></script>

  </body>
</html>
